{
	"development": {
		"username": "ogochan",
		"password": "ogochan",
		"dialect": "postgres",
		"host": "localhost",
		"port": 5432,
		"database": "sample_development",
		"logging": false,
		"pool": {
			"max": 5,
			"min": 0,
			"acquire": 30000,
			"idle": 10000
		},
		"dialectOptions": {
			"statement_timeout": 60000,
			"application_name": "kaikei-development"
		}
	},
	"test": {
		"username": "ogochan",
		"password": "ogochan",
		"dialect": "postgres",
		"host": "localhost",
		"port": 5432,
		"database": "sample_test",
		"pool": {
			"max": 5,
			"min": 0,
			"acquire": 30000,
			"idle": 10000
		},
		"dialectOptions": {
			"statement_timeout": 60000,
			"application_name": "kaikei-test"
		}
	},
	"production": {
		"username": "ogochan",
		"password": "ogochan",
		"dialect": "postgres",
		"host": "localhost",
		"port": 5432,
		"database": "sample_production",
		"pool": {
			"max": 20,
			"min": 2,
			"acquire": 30000,
			"idle": 10000
		},
		"dialectOptions": {
			"statement_timeout": 30000,
			"application_name": "kaikei-production",
			"ssl": {
				"rejectUnauthorized": true
			}
		}
	}
}
